body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#character {
    width: 256px;
    height: 256px;
    bottom: 0;
    position: absolute;
    background-image: url('walking.png');
    animation: walk 3.6s steps(6) infinite;
}

@keyframes walk {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1536px 0;
    }
}