body {
    margin: 0;
    padding: 0;
}
#item1 { grid-area: first; }
#item2 { grid-area: second; }
#item3 { grid-area: third; }
#item4 { grid-area: last; }

.grid-container {
    display: grid;
    grid-template-areas:
    'first second'
    'third last';
    grid-gap: 10px;
    background-color: #6600ff;
    padding: 10px;
    height: calc(100vh - 20px);
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.grid-container > div.loading {
    position: relative;
    background-image: none !important;
}

.grid-container > div.loading::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f200ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}